@import "../../../styles/variables";

.control {
  input {
    $radius: 16px;

    width: 100%;
    border: 2px solid transparent;
    border-radius: $radius;
    padding: 22px 20px;
    outline: none;
    background-color: $bg-dim;
    font-family: inherit;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -1%;
    color: $color-text-primary;
    margin-bottom: 0.5rem;

    .input-error {
      border-color: red;
    }

    &:focus {
      border-radius: $radius;
      border-color: $color-primary;
      background-color: $bg-light;
    }
  }
}

.input-error {
  border-color: red;
}

.error-message {
  color: red;
}
