/* niconne-latin-400-normal */
@font-face {
  font-family: "Niconne";
  font-style: normal;
  font-display: block;
  font-weight: 400;
  src: url("../src/assets/fonts/Niconne-Regular.ttf") format("truetype");
}
