// Text Colors
$color-text-primary: #f2f3f5;
$color-text-highlighted: #eb2f9a;
$color-text-caption: #c4c8cc;

// Background Colors
$bg-dark: #1f002b;
$bg-dim: #36173d;
$bg-light: #492752;
$bg-light-gray: #e8eaf2;

// General
$color-primary: #e4229c;

// Breakpoints
$breakpoint-tablet: 768px;

// Font
$font-family: -apple-system, BlinkMacSystemFont, "Albert Sans Variable",
  sans-serif;
